body {

    section.location {
        background-color: $grey2;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;

        i {
            font-size: 16px;
            margin-right: 10px;
        }

        span {
            color: $grey;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }

    section.reservation {
        background-color: $greyLight;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0;
            padding-top: 30px;
        }

        p {
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            text-align: center;
            margin: 0;
            padding-top: 30px;
        }

        button {
            width: 218px;
            height: 50px;
            border-radius: 25px;
            background: var(--Button-Gradient, linear-gradient(193deg, $violet -11.44%, $pink 123.93%));
            /* Shadow/Button */
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            color: $white;
            text-align: center;
            border: none;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    section.functioning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: left;
            width: 80%;
        }

        div {
            width: 80%;

            div {
                border-radius: 20px;
                background: $greyLight;
                /* Shadow/Instructions */
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                height: 72.379px;
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    i {
                        color: $violet;
                    }
                }

                .round {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: $violet;
                    color: $white;
                    font-family: Roboto;
                    font-size: 14.182px;
                    font-style: normal;
                    font-weight: 500;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: -11px;
                }

                i {
                    color: $greyTint4;
                    font-size: 19px;
                    margin-left: 5%;
                }

                .title {
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    width: 80%;
                    text-align: center;
                }

            }
        }
    }

    section.restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $greyLight;

        h2 {
            text-align: left;
            width: 80%;
        }

        div {
            width: 80%;

            a {
                width: 100%;

                article {
                    border-radius: 15px;
                    height: 251px;
                    background-color: white;
                    position: relative;
                    width: 100%;
                    margin-bottom: 18px;

                    .sticker {
                        width: 80px;
                        height: 29px;
                        background-color: $greenLight;
                        color: $greenFont;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        top: 15px;
                        right: 15px;
                    }

                    img {
                        height: 174px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        width: 100%;
                        object-fit: cover;
                    }

                    div {
                        height: 77px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 13px;

                        h3 {
                            margin: 0;
                        }

                        p {
                            margin: 0;
                            font-family: Roboto;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 300;
                        }
                        button{
                            display: inline/inline-block;
                            text-align: center;
                        }
                    }
                }
            }

        }

    }
}

@media screen and (min-width: 769px) {

    body {
        height: auto;

        header {
            position: relative;
    
            a {
                position: absolute;
                left: 120px;
    
                i {
                    font-size: 120px;
                }
            }
        }
        main {
    
            .div{
                title{
                    text-transform: capitalize;
                    text-decoration: underline;
                    color: green;
                }
            }
    
            .hero {
                img {
                    height: 275px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .restaurant {
                background-color: #F6F6F6;
    
                .restaurant-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    position: relative;
    
                    .heart {
                        top: 123px;
                        right: 129px;
                    }
                }
                .menu {
                    
                    article{
                        height: 169px;
                        background-color: white;
                        border-radius: 125px;
                        box-shadow: 0px 4.011494159698486px 15.043103218070613px 0px #0000001A;
         
                        h3 {
                            font-family: Roboto;
                            font-size: 118px;
                            font-weight: 500;
                            line-height: 121px;
                            letter-spacing: 0em;
                            text-align: left;
                            padding-top: 110xp;
                            padding-left: 110px;
                            margin-bottom: 106px;
                        }
    
                        div {
                            padding-left: 110px;
                            display: flex;
                            justify-content: space-between;
                            .description {
                                width: Hug (27px);
                                flex-direction: row left;
                                }
                            .price {
                                 height: Hug (15px);
                                 width: Hug (15px);
                                 flex-direction: row right;
                                }
                        }
                    }
                }
            } 
        }
        
        main {

            section.functioning {

                div {
                    display: flex;
                    justify-content: space-between;

                    div {
                        width: 50%;
                    }
                }
            }

            section.restaurants {

                div {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    a {
                        width: 65%;

                        article {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
}