body {
    header {
        height: 63px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

        h1 {
            font-family: Shrikhand;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            margin: 0;
        }
    }

    section.location {
        background-color: $grey2;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;

        i {
            font-size: 16px;
            margin-right: 10px;
        }

        span {
            color: $grey;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }

    section.reservation {

        h2 {}

        p {}

        button {}
    }
}