body {
    header {
        position: relative;

        a {
            position: absolute;
            left: 20px;

            i {
                font-size: 20px;
            }
        }
    }

    main {

        .div {
            title {
                text-transform: capitalize;
                text-decoration: underline;
                color: green;
            }
        }

        .hero {
            img {
                height: 275px;
                width: 100%;
                object-fit: cover;
            }
        }

        .restaurant {
            background-color: #F6F6F6;
            padding: 10px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            margin-top: -30px;
            z-index: 1;
            position: relative;

            .restaurant-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;

                h2 {
                    font-family: Shrikhand;
                    font-size: 28px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 41px;
                    letter-spacing: 0em;
                    text-align: left;

                }

                .like {
                    display: flex;
                    align-items: center;
                }
            }

            .menu {

                h3 {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-transform: uppercase;
                }

                hr {
                    color: $greenVeryLight;
                    height: 3px;
                    border-width: 0;
                    background-color: $greenLight;
                    width: 40px;
                    margin-top: -12px;
                    margin-bottom: 12px;
                    margin-left: 0;
                    margin-right: 0;
                }

                article {
                    height: 49px;
                    background-color: white;
                    border-radius: 15px;
                    box-shadow: 0px 4.011494159698486px 15.043103218070613px 0px #0000001A;
                    // padding: 10px;
                    margin-bottom: 10px;
                    animation: fadeIn 0.5s both;
                    opacity: 0;
                    display: flex;
                    justify-content: space-between;
                    height: 69px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &.delay-1 {
                        animation-delay: 500ms;
                    }

                    &.delay-2 {
                        animation-delay: 1000ms;
                    }

                    &.delay-3 {
                        animation-delay: 1500ms;
                    }

                    @keyframes fadeIn {
                        0% {
                            opacity: 0;
                            transform: translateY(-20px);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }

                    .description-container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 10px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        h4 {
                            font-family: Roboto;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 21px;
                            letter-spacing: 0em;
                            text-align: left;
                            // padding-top: 10px;
                            padding-left: 10px;
                            margin-bottom: 6px;
                            margin-top: 0;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .sub-title {
                            padding-left: 10px;
                            display: flex;
                            justify-content: space-between;

                            .description {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }

                            .price {
                                font-family: 'Roboto';
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 18px;
                                letter-spacing: 0em;
                            }
                        }
                    }

                    .tick {
                        background-color: $greenLight;
                        color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: -60px;
                        transition: all .4s linear;
                        width: 59px;
                        // border-bottom-right-radius: 15px;
                        // border-top-right-radius: 15px;


                        i {
                            font-size: 21px;
                            margin: 0;
                        }
                    }

                    &:hover {
                        .tick {
                            margin-right: 0;
                        }
                    }
                }

                .command {
                    display: flex;
                    justify-content: center;
                    transform: scale(1);
                    transition: all 800ms;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    body {
        main {
            .restaurant {
                margin-left: 10%;
                margin-right: 10%;
                padding-left: 15%;
                padding-right: 15%;

                .restaurant-header {
                    justify-content: center;

                    .like {
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}