header {
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    h1 {
        font-family: Shrikhand;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
    }
}

button {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, $violet -11.44%, $pink 123.93%));
    /* Shadow/Button */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: $white;
    text-align: center;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: box-shadow .5s, opacity .5s, transform .5s;

    &:hover {
        opacity: 85%;
        box-shadow: 4px 8px 10px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.01);
        -ms-transform: scale(1.01);
        /* IE 9 */
        -webkit-transform: scale(1.01);
        /* Safari 3-8 */
        transform: scale(1.01);
    }
}

.like {
    position: relative;
    width: 22px;

    .fa-regular {
        position: absolute;
        color: black;
        font-size: 22px;
        transition: opacity 500ms;
    }

    .fa-solid {
        position: absolute;
        opacity: 0;
        background-clip: text;
        color: transparent;
        font-size: 22px;
        transition: opacity 500ms;
        background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    }

    &:hover {
        .fa-regular {
            opacity: 0;
        }

        .fa-solid {
            opacity: 1;
        }
    }
}

// .heart {
//     position: absolute;
//     top: 203px;
//     right: 10%;
//     font-size: 22px;
// }

footer {
    background-color: $darkenGrey;
    color: $white;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 0;
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: 'Shrikhand';
        font-size: 18px;
        font-weight: 400;
        line-height: 26.24px;
        text-align: left;
    }

    p {
        margin: 0;
        padding-left: 25px;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;

        a {
            color: $white;

            .fa-utensils {
                padding-right: 10px;
            }

            .fa-handshake-angle {
                padding-right: 5px;
            }
        }

        &.contact {
            padding-bottom: 25px;
        }
    }
}

@media screen and(min-width: 769px) {

    footer {
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 30px;
        padding-bottom: 5px;

        h2 {
            order: 2;
            padding-left: 65px;
            padding-right: 50px;
        }

        p {
            padding-top: 29px;
        }
    }
}