body {
  background-color: red;
}
body h1 {
  color: green;
}

h1 {
  /* Title/Section */
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  header a {
    text-align: center;
    margin-right: 0;
  }
  header .menu {
    width: 50%;
    margin-left: 0;
    padding-top: 0;
    border-top: unset;
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 15px;
  }
  .menu:hover {
    border-top: unset;
    border-bottom: 2px solid var(--main-color);
  }
  button {
    text-align: center;
    flex-direction: column;
  }
  h1,
  .sub-title,
  .form,
  .filter,
  .info {
    margin-left: 3%;
    margin-right: 3%;
  }
  form #search {
    display: none;
  }
  form #glass {
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: -20px;
  }
  form .fa-magnifying-glass {
    color: white;
  }
  form .input-location {
    flex: 1;
  }
  .filter div {
    flex: 33%;
    margin-bottom: 20px;
  }
  .filter span {
    font-size: 14px;
  }
  .hebergements-and-populaires .populaires {
    order: 1;
    border-radius: 0;
  }
  .hebergements-and-populaires .hebergements {
    order: 2;
    background-color: white;
  }
  .filter {
    display: flex;
    margin-bottom: 35px;
}

.filter h2 {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
}

}
