body header {
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
body header h1 {
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
body section.location {
  background-color: #EAEAEA;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
body section.location i {
  font-size: 16px;
  margin-right: 10px;
}
body section.location span {
  color: #353535;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
body section.reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.reservation h2 {
  margin: 0;
  padding-top: 30px;
}
body section.reservation p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
body section.reservation button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  border: none;
  margin-top: 30px;
  margin-bottom: 50px;
}
body section.functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.functioning h2 {
  text-align: left;
  width: 80%;
}
body section.functioning div {
  width: 80%;
}
body section.functioning div div {
  border-radius: 20px;
  background: #F6F6F6;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 72.379px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
body section.functioning div div:hover i {
  color: #9356DC;
}
body section.functioning div div .round {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -11px;
}
body section.functioning div div i {
  color: #7E7E7E;
  font-size: 19px;
  margin-left: 5%;
}
body section.functioning div div .title {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 80%;
  text-align: center;
}
body section.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
body section.restaurants h2 {
  text-align: left;
  width: 80%;
}
body section.restaurants div {
  width: 80%;
}
body section.restaurants div a {
  width: 100%;
}
body section.restaurants div a article {
  border-radius: 15px;
  height: 251px;
  background-color: white;
  position: relative;
  width: 100%;
  margin-bottom: 18px;
}
body section.restaurants div a article .sticker {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  top: 15px;
  right: 15px;
}
body section.restaurants div a article img {
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  object-fit: cover;
}
body section.restaurants div a article div {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}
body section.restaurants div a article div h3 {
  margin: 0;
}
body section.restaurants div a article div p {
  margin: 0;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}
body section.restaurants div a article i {
  position: absolute;
  top: 203px;
  right: 10%;
  font-size: 22px;
}
body footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
body footer h2 {
  margin: 0;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
}
body footer p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
body footer p a {
  color: #FFF;
}
body footer p a .fa-utensils {
  padding-right: 10px;
}
body footer p a .fa-handshake-angle {
  padding-right: 5px;
}
body footer p.contact {
  padding-bottom: 25px;
}

@media screen and (min-width: 769px) {
  body {
    height: auto;
  }
  body main section.functioning div {
    display: flex;
    justify-content: space-between;
  }
  body main section.functioning div div {
    width: 30%;
  }
  body main section.restaurants div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body main section.restaurants div a {
    width: 45%;
  }
  body main section.restaurants div a article {
    margin-bottom: 50px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
