$grey2: #EAEAEA;
$grey: #353535;
$greyTint4: #7E7E7E;
$violet: #9356DC;
$pink: #FF79DA;
$white: #FFF;
$greyLight: #F6F6F6;
$greenLight: #99E2D0;
$greenFont: #008766;
$darkenGrey: #353535;
$greenVeryLight: rgba(153, 226, 208, 1);